---
import type { Project } from '@/content/types'
import Pill from './Pill.astro'
import AnchorDetail from '../details/base/AnchorDetail.astro'

interface Props extends Project {}

const { image, imageAlt, title, description, tags, links } = Astro.props
---

<article
	class="w-full rounded-lg border border-gray-500/60 object-cover transition-all hover:scale-[1.02] hover:bg-hd-grey/[2%] hover:dark:bg-hd-white/[2%]"
>
	<img src={image} alt={imageAlt} class="rounded-t-lg" />
	<div class="flex size-full flex-col gap-y-2 px-4 pb-8 pt-4">
		<h3 class="text-balance text-xl font-semibold">{title}</h3>
		<p class="text-pretty">{description}</p>
		<ul class="mt-2 flex flex-row flex-wrap gap-2">
			{
				tags.map((tag) => (
					<Pill>
						<li>{tag}</li>
					</Pill>
				))
			}
		</ul>
		<ul class="mx-2 mt-6 grid grid-cols-2 gap-4 xl:gap-x-8">
			{
				links.map((link) => (
					<li class="col-span-2 sm:col-span-1">
						<AnchorDetail className="w-full justify-between border-[1.5px]" href={link.url}>
							<span class="overflow-hidden text-ellipsis text-nowrap text-sm">{link.label}</span>
						</AnchorDetail>
					</li>
				))
			}
		</ul>
	</div>
</article>
