---
import Layout from '@/layouts/Layout.astro'
import { info } from '@/data/info'

const { portfolio } = info
---

<Layout title="Hedior portfolio">
	<section>
		<header class="md:my-12">
			<h1
				class="inline-block animate-wave bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-600 bg-clip-text text-7xl font-extrabold text-transparent"
			>
				{portfolio.name}
			</h1>
			<h2 class="pl-2 text-2xl">{portfolio.jobDescription}</h2>
		</header>
		<div class="mt-6 flex flex-col gap-2 md:w-8/12">
			{portfolio.about.map((paragraph) => <p class="text-balance">{paragraph}</p>)}
		</div>
	</section>
	<div class="mt-16 grid grid-cols-10 gap-8 md:grid-cols-12">
		<section class="col-span-10 col-start-1 grid grid-cols-subgrid md:col-start-3">
			<h2 class="col-span-2 text-left text-xl font-semibold capitalize md:text-right">
				Experience
			</h2>
			<ul class="col-span-10 md:col-span-8">
				{
					portfolio.experience.map((position) => (
						<li>
							<article class="mt-4 md:mt-0">
								<div class="flex flex-row justify-between">
									<h3 class="text-xl">{position.name}</h3>
									<p class="text-right font-light">
										{position.startDate} — {position.endDate}
									</p>
								</div>
								<h4 class="text-md font-light">{position.jobTitle}</h4>
								<p class="text-hd-blue dark:text-hd-light-blue">{position.location}</p>
								<p class="mt-2 text-balance">{position.jobDescription}</p>
								<ul class="list-disc">
									{position.achievements.map((item) => (
										<li class="ml-4 mt-2">
											<p>{item}</p>
										</li>
									))}
								</ul>
							</article>
						</li>
					))
				}
			</ul>
		</section>

		<section class="col-span-10 col-start-1 grid grid-cols-subgrid md:col-start-3">
			<h2 class="col-span-2 text-left text-xl font-semibold capitalize md:text-right">Education</h2>
			<ul class="col-span-10 md:col-span-8">
				{
					portfolio.educationList.map((education) => (
						<li class="mt-2">
							<article class="mt-4 md:mt-0">
								<div class="felx-row flex justify-between">
									<h3 class="text-xl">{education.name}</h3>
									<p class="opacity-50">
										{education.startDate} — {education.endDate}
									</p>
								</div>
								<p class="font-light">{education.description}</p>
								<p class="text-hd-blue dark:text-hd-light-blue">{education.location}</p>
							</article>
						</li>
					))
				}
			</ul>
		</section>
	</div>
</Layout>
